<h1>Simple Eval System</h1>

<p><%=link_to "Domains", domains_path %></p>
<p><%=link_to "Sub Domains", sub_domains_path %></p>
<p><%=link_to "Indicator Score Definitions", indicator_score_definitions_path %></p>